<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cultivate India</title>
</head>
<body>
    <section>
    <div class="hero">
        <div class="nav">
            <div class="navlogo">
                <img src="../static/css/logo.png" alt="">
            </div>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-close" onclick="closeMenu()"></i>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/crop-recommend"><li>Crop</li></a>
                    <a href="/fertilizer"><li>Fertilizer</li></a>
                    <a href="/disease-predict"><li>Disease</li></a>
                    <a href=""><li>About Us</li></a>
                </ul>
                <button type="button" class="btn">Login|Sing Up</button>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>
        <div class="banner-title">
            <li class="heading">CULTIVATE INDIA</li></a>
            <br>
            <br>
            <li class="heading2">Get Informed Decisions About Your Farming Strategy.</li>
            <br>
            <br>
            <br>
            <li class="heading3">Here Are Some Questions We'll Answer</li>
            <br>
            <li class="heading4">1. What crop to plant here?</li>
            <li class="heading4">2. What fertilizer to use?</li>
            <li class="heading4">3. Which disease do your crop have?</li>
            <li class="heading4">4. How to cure the disease?</li>
        </div>
    </div>
    <script>
        var show = document.getElementById('nav-links')
        function showMenu(){
            show.style.right = '0'
        }
        function closeMenu(){
            show.style.right = '-200px'
        }
    </script>
    </section>
    

    <!--Service------>
    <p class="head">Our Services</p>

    <section id="feature">
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
                <label for="tap-1" class="tap tap-1"></label>
                <label for="tap-2" class="tap tap-2"></label>
                <label for="tap-3" class="tap tap-3"></label>
            </div>
            <div class="inner-part">
                <label for="imgTap" class="img">
                    <img class="img-1" src="../static/css/crop.jpg" >
                </label>
                <div class="content content-1">
                    <span>CROP</span>
                    <div class="text">Recommendation about the type of crops 
                    to be cultivated which is best suited for the respective 
                    conditions</div>
                    <a href="/crop-recommend"><button>Learn More</button></a>
                </div>
            </div>
            <div class="inner-part">
                <label for="imgTap" class="img">
                    <img class="img-2" src="../static/css/fert.jpg" >
                </label>
                <div class="content content-2">
                    <span>FERTILIZER</span>
                    <div class="text">Recommendation about the type of fertilizer
                    best suited for the particular soil and the recommended crop
                    </div>
                    <a href="/fertilizer"><button>Learn More</button></a>
                </div>
            </div>
            <div class="inner-part">
                <label for="imgTap" class="img">
                    <img class="img-3" src="../static/css/dis.jpg" >
                </label>
                <div class="content content-3">
                    <span>CROP DISEASE</span>
                    <div class="text">Predicting the name and causes of crop disease 
                        and suggestions to cure it
                    </div>
                    <a href="/disease-predict"><button>Learn More</button></a>
                </div>
            </div>
        </div>

    </section>

    <!--Footer------>
    <section id="footer">
        <img  class="footer-img">
        

        <div class='footer-row'>
            <div class="footer-left">
                <h1>Opening Hours</h1>
                <p><i class="fa fa-clock-o"></i> Monday To Friday - 9am to 9pm</p>
                <p><i class="fa fa-clock-o"></i> Saturday To Sunday - 8am to 11pm</p>
            </div>
            <div class="footer-right">
                <h1>Get In Touch</h1>
                <p>#30 abc Colony , xyz city IN <i class="fa fa-map-marker"></i></p>
                <p>abcdef@website.com <i class="fa fa-paper-plane"></i></p>
                <p>+01 1234567899 <i class="fa fa-phone"></i></p>
            </div>
        </div>
        <div class="social-links">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube"></i>
            <p class="name">© Copyright 2021 Prasanna Kumar</p>
        </div>

    </section>  

</body>
</html>










